<div class="section">

    <!-- Cabeçalho da Seção/Subseção -->
    <!-- Modo de visualização/respondendo -->
    <div *ngIf="estadoProntuario === 'visualizacao' || estadoProntuario === 'respondendo'" class="section-header" (click)="toggleSection()">
      <h2 class="section-title">{{ sectionIndex }}. {{ section.titulo }}</h2>
      <img
        class="toggle-button"
        src="section_button.png"
        alt="Mostrar/Esconder"
        [ngClass]="{ 'flipped': isVisible }"
      />
    </div>

    <!-- Modo de edição -->
    <div *ngIf="estadoProntuario === 'editando'" class="section-header">
      <!-- <h2 class="section-title">{{ sectionIndex }}. {{ section.titulo }}</h2> -->
      <div *ngIf="secaoEditando; else displayMode">
        <input type="text" [(ngModel)]="secaoEditandoTitulo" />
        <button (click)="salvarEdicaoSecao()">Salvar</button>
        <button (click)="cancelarEdicao()">Cancelar</button>
      </div>
    </div>

    <ng-template #displayMode class="section-header">
      <h2 class="section-title">{{ sectionIndex }}. {{ section.titulo }}</h2>
      <button (click)="editarSecao()">Editar</button>
    </ng-template>
  
    <!-- Conteúdo da Seção/Subseção -->
    <div [ngClass]="{'section-content': true, 'expanded': isVisible, 'collapsed': !isVisible}">
      <!-- Quesitos -->
        <!-- Modo de visualização/editando -->
         <!-- TODO: Mudar condicao -->
        <div class="quesitos" *ngIf="true">
          <div class="quesitos" *ngFor="let quesito of section.quesitos; let i = index">
            <app-quesito 
              [quesito]="quesito" 
              [quesitoIndex]="(i + 1).toString()" 
              [estadoProntuario]="estadoProntuario"
              (respostaAtualizada)="respostaAtualizadaPropagate()"
              (criarResposta)="criarRespostaPropagate($event)"></app-quesito>
          </div>
        </div>

        <!-- Modo de respondendo -->
        <!-- <div *ngIf="estadoProntuario === 'respondendo'">
          <div class="quesitos" *ngFor="let quesito of section.quesitos; let i = index">
            <div *ngIf="isQuesitoHabilitado(quesito)">
              <app-quesito [quesito]="quesito" [quesitoIndex]="(i + 1).toString()" [estadoProntuario]="estadoProntuario"></app-quesito>
            </div>
          </div>
        </div> -->
      <!-- Fim Quesitos -->

      <!-- Container para adicionar novas seções -->
      <div *ngIf="estadoProntuario === 'editando'" class="add-section-container">
        <input type="text" placeholder="Título da nova seção" [(ngModel)]="novaSecaoTitulo" class="new-section-input" />
        <button (click)="adicionarSubSecao()" class="add-section-button">Adicionar Seção</button>
      </div>
  
      <!-- Subseções (Chamando o mesmo componente para subseções) -->
      <div *ngFor="let subsection of section.subSecoes; let subIndex = index">
        <app-section
          [section]="subsection"
          [sectionIndex]="sectionIndex + '.' + (subIndex + 1)"
          [estadoProntuario]="estadoProntuario"
          (secaoAtualizada)="atualizarSecaoPropagate($event)"
          (subSecaoCriada)="adicionarSubSecaoPropagate($event)"
          (respostaAtualizada)="respostaAtualizadaPropagate()"
          (criarResposta)="criarRespostaPropagate($event)"
        ></app-section>
      </div>
    </div>
  </div>
  