<div class="section">
    <div class="section-header" (click)="toggleSection()">
      <h2 class="section-title">{{ sectionIndex }}. {{ section.titulo }}</h2>
      <!-- <button class="toggle-button" (click)="toggleSection()">
        {{ isVisible ? 'Esconder' : 'Mostrar' }}
      </button> -->
      <img
        class="toggle-button"
        src="section_button.png"
        alt="Mostrar/Esconder"
        [ngClass]="{ 'flipped': isVisible }"
      />

    </div>
  
    <!-- Conteúdo da Seção/Subseção -->
    <div [ngClass]="{'section-content': true, 'expanded': isVisible, 'collapsed': !isVisible}">
      <div class="quesitos" *ngFor="let quesito of section.quesitos; let i = index">
        <app-quesito [quesito]="quesito" [quesitoIndex]="(i + 1).toString()" [estadoProntuario]="estadoProntuario"></app-quesito>
      </div>
  
      <!-- Subseções (Chamando o mesmo componente para subseções) -->
      <div *ngFor="let subsection of section.subSecoes; let subIndex = index">
        <app-section
          [section]="subsection"
          [sectionIndex]="sectionIndex + '.' + (subIndex + 1)"
          [estadoProntuario]="estadoProntuario"
        ></app-section>
      </div>
    </div>
  </div>
  