<div class="home-container">
    <h1>Seus Prontuários</h1>
    
    <table class="prontuarios-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prontuario of prontuarioList">
        <td>
            {{ prontuario.nome }}
            <span *ngIf="prontuario.ehTemplate" class="template-flag">Template</span>
            </td>
          <td>
            <button (click)="visualizarProntuario(prontuario.id)">Visualizar</button>
            <button >Responder</button>
            <button >Copiar</button>
            <button (click)="deletarProntuario(prontuario.id)">Deletar</button>
            <button >PDF</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  